/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343A50;
  --card-background-color: rgba(0, 0, 0, 0.9);
  --countdown-background-color: #433765;
  --main-text-color: #fff;
    --title-text-color: #FA26A0;
}

body{
  
/*  background-color:var(--main-background-color);*/

  background: url("img/background.png");
  background-repeat: no-repeat;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.1em;
  color: #fff;
}
.wallet-adapter-button[disabled] {
  background-color: #FA26A0 !important;
}
h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
color: rgb(0, 255, 42) !important;
  font-size: 0.7em;
}

h4 {
  font-weight: normal;
  font-size: 10px;
  color: rgb(255, 255, 255) !important;
}

.MuiChip-root {
  display: contents !important;
}

body {
  color: rgb(0, 255, 42) !important;
}

.MuiPaper-rounded {
  border-radius: 50px !important;
}

.wallet-adapter-dropdown-list {
  position: fixed !important;
}

.kio {
  display: block;
  border: 0.5px solid black;
  border-radius: 60px;
  width: 30em;
  height: 2em;
  background: white;
}

.dowwallet {
  justify-content: right !important;
}

.wallet-adapter-modal-wrapper {
  border-radius: 2.2em !important;
  max-width: 25em !important;
  background: black !important;
}

.overlay {
  background: #282241d6;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 0;
}

.per {
  margin-left: 0;
  width: 21em !important;
  height: 2em !important;
  text-decoration-color: var(--main-text-color) !important;
  text-align: centre;
  z-index: 0;
}

#main {
  display: block;
  position: relative;
  margin: -1.35rem;
  z-index: 1;
}

.MuiAlert-message {
  margin: 44px auto !important;
  text-align: center !important;
  font-size: 42px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  line-height: 1.43 !important;
}

.MuiAlert-standardSuccess {
  margin-bottom: 25.1em !important;
  background-color: rgb(255, 0, 0) !important;
  min-width: 40.6em !important;
  height: 21.5em !important;
  border-radius: 50px !important;
  border: 5px solid transparent;
  border-color: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000) !important;

  ;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: #2b2b2b;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 500px;
  margin-top: 0.7em;
}

.conatiner.h1 {
  text-align: center;
}

.progressbar-container {
  position: relative;
  width: 100%;
  height: 2em;
  background: #ce8dff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.progressbar-complete {
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  background-image: linear-gradient(to right, #fa26a0 10%, #0e93f1) !important;
  border-radius: 10px;
  z-index: 2;
}

.progressbar-liquid {
  z-index: 1;
  width: 70px;
  position: absolute;
  right: -5px;
  top: -10px;
  background-color: #5225bd;
  border-radius: 40%;
}

.progress {
  z-index: 2;
  color: white !important;
}

.MuiSnackbar-anchorOriginBottomCenter {
  bottom: unset !important;
}

.alertdiv {
  background-color: transparent;
}

.alertmsg {
  min-width: 32em !important;
  margin: 0 auto;
  padding: 5px 20px 20px 20px;
  flex: 1 1 auto;
  background-color: rgb(0, 0, 0) !important;
  box-shadow: -1px 0 0 1px rgb(183 0 255), -1px -1px 0 1px rgb(180 0 255), -1px -1px 0 1px rgb(255 0 177), 0 -1px 0 1px rgb(0 255 161), 0 1px 0 1px rgb(0 220 255), 0 -1px 0 1px rgb(0 208 255), 0 1px 0 1px rgb(0 149 255), 0 0 0 1px rgb(0 184 255) !important;


  margin-top: 6em !important;
  height: 17.3rem;
  border-radius: 50px;
  justify-content: center;
  /* border: 10px solid red; */
  /* border-image: linear-gradient(to right, #fa26a0 10%, #0e93f1) !important;
  border-image-slice: 1; */
}

.alerttext {
  font-size: 25px;
  justify-content: center;
  margin-top: 15%;
  color: white;

}

.lnk {
  flex-direction: bottom;
  font-size: 15px;
  text-decoration: none;
  font-size: 1rem;
  margin: 7em;
}

.SolExplorerLink {
  bottom: 0;
}
